@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h4>Add a new HairStylist</h4>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new {@required = "required"})
    @Html.LabelFor(model => model.Specialties)
    @Html.TextBoxFor(model => model.Specialties, new {@required = "required"})
    <input type="submit" value="add new stylist">
  </div>
  }

  <button>@Html.ActionLink("Show all stylists", "Index")</button>