@{
  Layout="_Layout";
}
@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this Stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
 @Html.HiddenFor(model => model.StylistId)

 @Html.LabelFor(model => model.Name)
 @Html.EditorFor(model => model.Name, new {@required = "required"})
 @Html.LabelFor(model => model.Specialties)
 @Html.EditorFor(model => model.Specialties, new {@required = "required"})
 @Html.ValidationMessageFor(model => model.Name, "required", new { @class = "text-danger" })

 <input type="submit" value="Save" class="btn btn-primary" />

}

<p>@Html.ActionLink("Back to List", "Index")</p>